<div id="datasheet_inner" class="datasheet_inner">

  <div class="btn-group">
    <nav>
      <a routerLink="/input-define" routerLinkActive="selected-item" class=" btn-change active">
        <p translate>input.input-define.DEFINE</p>
      </a>
      <a routerLink="/input-combine" routerLinkActive="selected-item" class=" btn-change">
        <p translate>input.input-define.COMBINE</p>
      </a>
      <a routerLink="/input-pickup" routerLinkActive="selected-item" class=" btn-change">
        <p translate>input.input-define.PICKUP</p>
      </a>
    </nav>
  </div>

  <app-sheet #grid [options]="options"></app-sheet>

</div>