<div class="datasheet_inner">

  <div class="btn-group">
    <nav>
      <a routerLink="/input-define" class="btn-change">
        <p translate>input.input-combine.DEFINE</p>
      </a>
      <a routerLink="/input-combine" class="btn-change active">
        <p translate>input.input-combine.COMBINE</p>
      </a>
      <a routerLink="/input-pickup"  class="btn-change">
        <p translate>input.input-combine.PICKUP</p>
      </a>
      </nav>
  </div>

  <app-sheet #grid [options]="options"></app-sheet>

</div>
