<div [class.isPrinting]="printService.isPrinting">
  <div class="header">
    <div class="container">
      <div class="liner">
        <!--            <img src="./assets/img/logo.png" />-->
        <app-menu></app-menu>
      </div>
    </div>
  </div>
  <div class="body-container">
    <div class="btn-group">
      <nav>
        <div class="input-area">
          <a
            routerLink="./input-nodes"
            (click)="contentsDailogShow(0)"
            routerLinkActive="selected-item"
            id="0"
            class="btn-md btn-blue"
          >
            <div class="icon-img ppt">
              <img src="./assets/img/setten.png" width="60" height="40" />
            </div>
            <p translate>app.node</p>
          </a>
          <a
            routerLink="./input-fix_nodes"
            (click)="contentsDailogShow(1)"
            routerLinkActive="selected-item"
            id="1"
            class="btn-md btn-blue"
          >
            <div class="icon-img ppt">
              <img src="./assets/img/shiten.png" width="60" height="40" />
            </div>
            <p translate>app.fixNode</p>
          </a>
          <a
            routerLink="./input-members"
            (click)="contentsDailogShow(2)"
            routerLinkActive="selected-item"
            id="2"
            class="btn-md btn-blue"
          >
            <div class="icon-img ppt">
              <img src="./assets/img/buzai.png" width="60" height="40" />
            </div>
            <p translate>app.member</p>
          </a>
          <a
            routerLink="./input-elements"
            (click)="contentsDailogShow(3)"
            routerLinkActive="selected-item"
            id="3"
            class="btn-md btn-blue"
          >
            <div class="icon-img">
              <img src="./assets/img/zairyo.png" width="50" height="50" />
            </div>
            <p translate>app.element</p>
          </a>
          <ng-container *ngIf="helper.dimension == 3">
            <a
              routerLink="./input-panel"
              (click)="contentsDailogShow(4)"
              routerLinkActive="selected-item"
              id="4"
              class="btn-md btn-blue"
            >
              <div class="icon-img ppt">
                <img src="./assets/img/panel.png" width="60" height="40" />
              </div>
              <p translate>app.panel</p>
            </a>
          </ng-container>
          <a
            routerLink="./input-joints"
            (click)="contentsDailogShow(5)"
            routerLinkActive="selected-item"
            id="5"
            class="btn-md btn-blue"
          >
            <div class="icon-img ppt">
              <img src="./assets/img/ketsugo.png" width="60" height="40" />
            </div>
            <p translate>app.joint</p>
          </a>
          <a
            routerLink="./input-notice_points"
            (click)="contentsDailogShow(6)"
            routerLinkActive="selected-item"
            id="6"
            class="btn-md btn-blue"
          >
            <div class="icon-img">
              <img src="./assets/img/eye.png" width="50" height="50" />
            </div>
            <p translate>app.noticePoint</p>
          </a>
          <a
            routerLink="./input-fix_members"
            (click)="contentsDailogShow(7)"
            routerLinkActive="selected-item"
            id="7"
            class="btn-md btn-blue"
          >
            <div class="icon-img ppt" style="margin-left: -7px">
              <img src="./assets/img/bane.png" width="60" height="40" />
            </div>
            <p translate>app.fixMember</p>
          </a>
          <a
            routerLink="./input-load-name"
            (click)="contentsDailogShow(8)"
            routerLinkActive="selected-item"
            id="8"
            class="btn-md btn-blue"
          >
            <div class="icon-img ppt">
              <img
                src="./assets/img/force.png"
                width="60"
                height="40"
                style="margin-right: -3px"
              />
            </div>
            <p translate>app.loadName</p>
          </a>
          <a
            routerLink="./input-define"
            (click)="contentsDailogShow(9)"
            routerLinkActive="selected-item"
            id="9"
            class="btn-md btn-blue"
          >
            <div class="icon-img ppt">
              <img src="./assets/img/comb.png" width="60" height="40" />
            </div>
            <p translate>app.inputDefine</p>
          </a>
          <p class="guide" translate>app.input</p>
        </div>
        <div
          class="output-area"
          *ngIf="disg.isCalculated || reac.isCalculated || fsec.isCalculated"
        >
          <a
            routerLink="./result-disg"
            *ngIf="disg.isCalculated"
            (click)="contentsDailogShow(10)"
            id="10"
            class="btn-md btn-blue"
          >
            <div class="icon-img ppt">
              <img src="./assets/img/heni.png" width="50" height="40" />
            </div>
            <p translate>app.displacement</p>
          </a>
          <a
            routerLink="./result-reac"
            *ngIf="reac.isCalculated"
            (click)="contentsDailogShow(11)"
            id="11"
            class="btn-md btn-blue"
          >
            <div class="icon-img ppt">
              <img
                src="./assets/img/shitenhanryoku.png"
                width="60"
                height="40"
              />
            </div>
            <p translate>app.reaction</p>
          </a>
          <a
            routerLink="./result-fsec"
            *ngIf="fsec.isCalculated"
            (click)="contentsDailogShow(12)"
            routerLinkActive="selected-item"
            id="12"
            class="btn-md btn-blue"
          >
            <div class="icon-img ppt">
              <img src="./assets/img/danmen.png" width="60" height="40" />
            </div>
            <p translate>app.memberSectionForce</p>
          </a>
          <p class="guide" translate>app.output</p>
        </div>
      </nav>
    </div>
    <div id="print-loading">
      <svg
        width="50px"
        height="50px"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100"
        preserveAspectRatio="xMidYMid"
        class="uil-spin"
      >
        <rect
          x="0"
          y="0"
          width="100"
          height="100"
          fill="none"
          class="bk"
        ></rect>
        <g transform="translate(50 50)">
          <g transform="rotate(0) translate(34 0)">
            <circle cx="0" cy="0" r="8" fill="#000">
              <animate
                attributeName="opacity"
                from="1"
                to="0.1"
                begin="0s"
                dur="1s"
                repeatCount="indefinite"
              ></animate>
              <animateTransform
                attributeName="transform"
                type="scale"
                from="1.5"
                to="1"
                begin="0s"
                dur="1s"
                repeatCount="indefinite"
              ></animateTransform>
            </circle>
          </g>
          <g transform="rotate(45) translate(34 0)">
            <circle cx="0" cy="0" r="8" fill="#000">
              <animate
                attributeName="opacity"
                from="1"
                to="0.1"
                begin="0.12s"
                dur="1s"
                repeatCount="indefinite"
              ></animate>
              <animateTransform
                attributeName="transform"
                type="scale"
                from="1.5"
                to="1"
                begin="0.12s"
                dur="1s"
                repeatCount="indefinite"
              ></animateTransform>
            </circle>
          </g>
          <g transform="rotate(90) translate(34 0)">
            <circle cx="0" cy="0" r="8" fill="#000">
              <animate
                attributeName="opacity"
                from="1"
                to="0.1"
                begin="0.25s"
                dur="1s"
                repeatCount="indefinite"
              ></animate>
              <animateTransform
                attributeName="transform"
                type="scale"
                from="1.5"
                to="1"
                begin="0.25s"
                dur="1s"
                repeatCount="indefinite"
              ></animateTransform>
            </circle>
          </g>
          <g transform="rotate(135) translate(34 0)">
            <circle cx="0" cy="0" r="8" fill="#000">
              <animate
                attributeName="opacity"
                from="1"
                to="0.1"
                begin="0.37s"
                dur="1s"
                repeatCount="indefinite"
              ></animate>
              <animateTransform
                attributeName="transform"
                type="scale"
                from="1.5"
                to="1"
                begin="0.37s"
                dur="1s"
                repeatCount="indefinite"
              ></animateTransform>
            </circle>
          </g>
          <g transform="rotate(180) translate(34 0)">
            <circle cx="0" cy="0" r="8" fill="#000">
              <animate
                attributeName="opacity"
                from="1"
                to="0.1"
                begin="0.5s"
                dur="1s"
                repeatCount="indefinite"
              ></animate>
              <animateTransform
                attributeName="transform"
                type="scale"
                from="1.5"
                to="1"
                begin="0.5s"
                dur="1s"
                repeatCount="indefinite"
              ></animateTransform>
            </circle>
          </g>
          <g transform="rotate(225) translate(34 0)">
            <circle cx="0" cy="0" r="8" fill="#000">
              <animate
                attributeName="opacity"
                from="1"
                to="0.1"
                begin="0.62s"
                dur="1s"
                repeatCount="indefinite"
              ></animate>
              <animateTransform
                attributeName="transform"
                type="scale"
                from="1.5"
                to="1"
                begin="0.62s"
                dur="1s"
                repeatCount="indefinite"
              ></animateTransform>
            </circle>
          </g>
          <g transform="rotate(270) translate(34 0)">
            <circle cx="0" cy="0" r="8" fill="#000">
              <animate
                attributeName="opacity"
                from="1"
                to="0.1"
                begin="0.75s"
                dur="1s"
                repeatCount="indefinite"
              ></animate>
              <animateTransform
                attributeName="transform"
                type="scale"
                from="1.5"
                to="1"
                begin="0.75s"
                dur="1s"
                repeatCount="indefinite"
              ></animateTransform>
            </circle>
          </g>
          <g transform="rotate(315) translate(34 0)">
            <circle cx="0" cy="0" r="8" fill="#000">
              <animate
                attributeName="opacity"
                from="1"
                to="0.1"
                begin="0.87s"
                dur="1s"
                repeatCount="indefinite"
              ></animate>
              <animateTransform
                attributeName="transform"
                type="scale"
                from="1.5"
                to="1"
                begin="0.87s"
                dur="1s"
                repeatCount="indefinite"
              ></animateTransform>
            </circle>
          </g>
        </g>
      </svg>
      <p translate>app.preparing</p>
    </div>
  </div>
  <div id="body-container-id">
    <div class="three-container" id="three-container-id">
      <app-three></app-three>
    </div>
  </div>

  <div
    cdkDrag
    [cdkDragFreeDragPosition]="dragPosition"
    *ngIf="helper.isContentsDailogShow"
    class="contents-dailog"
    id="contents-dialog-id"
  >
    <!-- ドラッグハンドルをテーブルの後ろに敷いて、テーブル領域以外がドラッグされたらcontetns-dialogを移動するイメージ -->
    <div class="dialog-header">
      <div cdkDragHandle class="dialog-drag-handle"></div>
      <div class="button-area">
        <button (click)="dialogClose()" class="dialog-close-button">
          <span>×</span>
        </button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>

  <router-outlet name="print"></router-outlet>
</div>

<!-- チャットボタン -->
<div class="over-three right-buttom">
  <app-chat></app-chat>
  <!-- <a class="chat" (click)="openChat()"><i class="fas fa-comments"></i></a> -->
</div>
