<div class="print">
  <!-- 印刷データを選択 -->
  <div class="printdata-choice">
    <h2 translate>print.SelectPrintData</h2>
    <div class="print-choice">
      <ul>
        <li>
          <label style="width: 100%">
            <input type="radio" name="radio-print" class="radio-input" id="result0"
              (click)="printService.selectRadio(0)" />
            <span class="radio-parts" translate>print.inputData</span>
          </label>
        </li>
        <ng-container *ngIf="ResultData.isCalculated">
          <li>
            <label style="width: 100%">
              <input type="radio" name="radio-print" class="radio-input" id="print1"
                (click)="printService.selectRadio(1)" />
              <span class="radio-parts" translate>print.displacement</span>
            </label>
          </li>
          <li>
            <label style="width: 100%">
              <input type="radio" name="radio-print" class="radio-input" id="print2"
                (click)="printService.selectRadio(2)" />
              <span class="radio-parts" translate>print.combine_displacement</span>
            </label>
          </li>
          <li>
            <label style="width: 100%">
              <input type="radio" name="radio-print" class="radio-input" id="print3"
                (click)="printService.selectRadio(3)" />
              <span class="radio-parts" translate>print.pickup_displacement</span>
            </label>
          </li>
          <li>
            <label style="width: 100%">
              <input type="radio" name="radio-print" class="radio-input" id="print4"
                (click)="printService.selectRadio(4)" />
              <span class="radio-parts" translate>print.reaction</span>
            </label>
          </li>
          <li>
            <label style="width: 100%">
              <input type="radio" name="radio-print" class="radio-input" id="print5"
                (click)="printService.selectRadio(5)" />
              <span class="radio-parts" translate>print.combine_reaction</span>
            </label>
          </li>
          <li>
            <label style="width: 100%">
              <input type="radio" name="radio-print" class="radio-input" id="print6"
                (click)="printService.selectRadio(6)" />
              <span class="radio-parts" translate>print.pickup_reaction</span>
            </label>
          </li>
          <li>
            <label style="width: 100%">
              <input type="radio" name="radio-print" class="radio-input" id="print7"
                (click)="printService.selectRadio(7)" />
              <span class="radio-parts" translate>print.SectionForce</span>
            </label>
          </li>
          <li>
            <label style="width: 100%">
              <input type="radio" name="radio-print" class="radio-input" id="print8"
                (click)="printService.selectRadio(8)" />
              <span class="radio-parts" translate>print.combine_SectionForce</span>
            </label>
          </li>
          <li>
            <label style="width: 100%">
              <input type="radio" name="radio-print" class="radio-input" id="print9"
                (click)="printService.selectRadio(9)" />
              <span class="radio-parts" translate>print.pickup_SectionForce</span>
            </label>
          </li>
        </ng-container>
        <li>
          <label style="width: 100%">
            <input type="radio" name="radio-print" class="radio-input" id="print10"
              (click)="printService.selectRadio(10)" />
            <span class="radio-parts">{{PrintScreen}}</span>
          </label>
        </li>
      </ul>
    </div>


    <div class="print-ing">
      <label>
        <input id="printButton" type="button" name="printButton" value="{{'print.prt'| translate }}"
          (click)="onPrintPDF()" />
      </label>

      <div *ngIf="printService.pageCount>0" class="message">
        <p *ngIf="printService.pageDisplay">
          {{'print.pages'| translate }}
          {{ printService.pageCount }}
          {{'print.about'| translate }}
        </p>
        <p *ngIf="printService.pageError" class="caution" translate>
          print.noDataFound
        </p>
        <p *ngIf="printService.pageOver" class="caution" translate>
          print.about1000
        </p>
      </div>
    </div>
  </div>

  <!-- 印刷ケースを選択 -->
  <!-- 印刷データ選択肢で"画面印刷"オプションを選択しているときだけ表示 -->
  <div class="printdata-choice" *ngIf="printService.flg == 10">
    <h2 translate>print.SelectPrintCase</h2>
    <div class="print-choice">
      <ul>
        <!-- 画面印刷 -->
        <li>
          <label style="width: 100%">
            <input type="radio" name="radio-print-case" class="radio-input" id="printCase0"
              (click)="printService.selectPrintCase('PrintScreen')" />
            <span class="radio-parts" translate>print.PrintScreen</span>
          </label>
        </li>
        <ng-container *ngIf="ResultData.isCalculated">
          <!-- 断面力図 -->
          <li>
            <label style="width: 100%">
              <input type="radio" name="radio-print-case" class="radio-input" id="printCase1"
                (click)="printService.selectPrintCase('PrintDiagram')" />
              <span class="radio-parts" translate>print.PrintDiagram</span>
            </label>
          </li>
          <!-- Combine 断面力図 -->
          <li>
            <label style="width: 100%">
              <input type="radio" name="radio-print-case" class="radio-input" id="printCase2"
                (click)="printService.selectPrintCase('CombPrintDiagram')" />
              <span class="radio-parts" translate>print.combPrintDiagram</span>
            </label>
          </li>
          <!-- Pickup 断面力図 -->
          <li>
            <label style="width: 100%">
              <input type="radio" name="radio-print-case" class="radio-input" id="printCase3"
                (click)="printService.selectPrintCase('PickPrintDiagram')" />
              <span class="radio-parts" translate>print.pickPrintDiagram</span>
            </label>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>

  <!-- 印刷対象を選択 -->
  <!-- 表示条件: 計算済み & 印刷ケースが"断面力図"|"Combine 断面力図"|"Pickup 断面力図" -->
  <ng-container *ngIf="ResultData.isCalculated &&
    ['PrintDiagram', 'CombPrintDiagram', 'PickPrintDiagram'].includes(this.printService.printCase)">
    <div class="printdata-choice">
      <h2 translate>print.custom.print-custom-three.selectTarget</h2>
      <div class="print-choice">
        <ul>
          <!-- 軸方向力 -->
          <li>
            <label style="width: 100%">
              <input type="checkbox" name="checkbox-print-target0" class="checkbox-input"
                [(ngModel)]="printService.printTargetValues[0].value" />
              <span class="checkbox-parts" translate>print.custom.print-custom-three.axialForce</span>
            </label>
          </li>
          <!-- y軸方向のせん断力 -->
          <li>
            <label style="width: 100%">
              <input type="checkbox" name="checkbox-print-target1" class="checkbox-input"
                [(ngModel)]="printService.printTargetValues[1].value" />
              <span class="checkbox-parts" translate>print.custom.print-custom-three.y_shear</span>
            </label>
          </li>
          <!-- z軸方向のせん断力 -->
          <li *ngIf="helper.dimension != 2">
            <label style="width: 100%">
              <input type="checkbox" name="checkbox-print-target2" class="checkbox-input"
                [(ngModel)]="printService.printTargetValues[2].value" />
              <span class="checkbox-parts" translate>print.custom.print-custom-three.z_shear</span>
            </label>
          </li>
          <!-- ねじりモーメント -->
          <li *ngIf="helper.dimension != 2">
            <label style="width: 100%">
              <input type="checkbox" name="checkbox-print-target3" class="checkbox-input"
                [(ngModel)]="printService.printTargetValues[3].value" />
              <span class="checkbox-parts" translate>print.custom.print-custom-three.x_torsion</span>
            </label>
          </li>
          <!-- y軸回りのモーメント -->
          <li *ngIf="helper.dimension != 2">
            <label style="width: 100%">
              <input type="checkbox" name="checkbox-print-target4" class="checkbox-input"
                [(ngModel)]="printService.printTargetValues[4].value" />
              <span class="checkbox-parts" translate>print.custom.print-custom-three.y_moment</span>
            </label>
          </li>
          <!-- z軸回りのモーメント -->
          <li>
            <label style="width: 100%">
              <input type="checkbox" name="checkbox-print-target5" class="checkbox-input"
                [(ngModel)]="printService.printTargetValues[5].value" />
              <span class="checkbox-parts" translate>print.custom.print-custom-three.z_moment</span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!ResultData.isCalculated">
    <div></div>
  </ng-container>
</div>
