.print {
    display: flex;
    justify-content: space-between;
}

.printdata-choice {
    padding: 16px;
    font-size: 16px;

    .print-choice {
        margin: 12px 0;
        padding: 16px;
        background-color: #f5f5f5;
        font-size: 16px;

        h2 {
            margin-left: 16px;
        }

        ul {
            text-align: left;

            li {
                margin-bottom: 8px;

                .radio-input {
                    display: none;
                }

                .radio-parts,
                .selectbox-parts {
                    display: inline-block;
                    padding-left: 30px;
                    position: relative;
                    width: 100%;
                    line-height: 16px;
                }

                .radio-parts::before,
                .selectbox-parts::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 15px;
                    height: 15px;
                    border: 1px solid #999;
                    border-radius: 50%;
                }

                .radio-input:hover+.radio-parts:hover,
                .selectbox-input:hover+.selectbox-parts:hover {
                    cursor: pointer;
                    opacity: 0.7;
                    display: block;
                }

                .radio-input:checked+.radio-parts,
                .selectbox-input:checked+.selectbox-parts {
                    color: #d01137;
                }

                .radio-input:checked+.radio-parts::after,
                .selectbox-input:checked+.selectbox-parts::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background-color: #d01137;
                }

                .checkbox-input,
                .selectbox-input {
                    display: none;
                }

                .checkbox-parts,
                .selectbox-parts {
                    display: inline-block;
                    padding-left: 30px;
                    position: relative;
                    width: 100%;
                }

                .checkbox-parts::before,
                .selectbox-parts::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 15px;
                    height: 15px;
                    border: 1px solid #999;
                    border-radius: 4px;
                }

                .checkbox-input:hover+.checkbox-parts:hover,
                .selectbox-input:hover+.selectbox-parts:hover {
                    cursor: pointer;
                    opacity: 0.7;
                    display: block;
                }

                .checkbox-input:checked+.checkbox-parts,
                .selectbox-input:checked+.selectbox-parts {
                    color: #d01137;
                }

                .checkbox-input:checked+.checkbox-parts::after,
                .selectbox-input:checked+.selectbox-parts::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: -5px;
                    left: 5px;
                    width: 7px;
                    height: 14px;
                    transform: rotate(40deg);
                    border-bottom: 3px solid #d01137;
                    border-right: 3px solid #d01137;
                }

                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}

.print-custom {
    padding: 16px;
}

.print-ing {
    #printButton {
        width: 160px;
        margin-bottom: 8px;
        // background: none;
        border: 0.5px solid #83abcd;
        border-radius: 3px;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 12px 44px;
        background-color: #669987;
        color: #ffffff;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
            background-color: #669987;
        }
    }

    margin-bottom: 12px;
    font-size: 16px;

    .message {
        .caution {
            margin-bottom: 8px;
            color: #d01137;
        }
    }
}

select {
    min-width: 180px;
    padding: 4px;
    font-size: 16px;
    border-radius: 4px;
}