<div class="datasheet_inner">
  <div class="btn-group">
    <nav>
      <a
        routerLink="/input-load-name"
        routerLinkActive="selected-item"
        class="btn-change active"
        >
        <p translate>input.input-load-name.load_Name</p>
      </a>
      <a
        routerLink="/input-loads"
        routerLinkActive="selected-item"
        class="btn-change"
        >
        <p translate>input.input-load-name.loadStrength</p>
      </a>
    </nav>
  </div>

  <app-sheet #grid [options]="options"></app-sheet>
</div>
